manifest {
    name = 'hellbender-ngs-pipeline'
    author = 'Murugesan Raju'
    description = 'Short-read NGS analysis and Shiny reporting for MU Hellbender'
    version = '1.1.0'
    nextflowVersion = '>=26.04.0'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = { task.exitStatus in [137, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 1
    maxErrors = 1

    withLabel: qc {
        conda = "${projectDir}/envs/qc.yaml"
    }
    withLabel: rna {
        conda = "${projectDir}/envs/rna.yaml"
    }
    withLabel: dna {
        conda = "${projectDir}/envs/dna.yaml"
    }
    withLabel: assembly {
        conda = "${projectDir}/envs/assembly.yaml"
    }
    withLabel: report {
        conda = "${projectDir}/envs/report.yaml"
    }

    withName: FASTQC_RAW { cpus = 2; memory = 8.GB; time = 2.h }
    withName: FASTQC_TRIMMED { cpus = 2; memory = 8.GB; time = 2.h }
    withName: FASTP_PE { cpus = 16; memory = 16.GB; time = 4.h }
    withName: FASTP_SE { cpus = 16; memory = 16.GB; time = 4.h }
    withName: FASTQ_SCREEN { cpus = 8; memory = 16.GB; time = 4.h }
    withName: MULTIQC { cpus = 4; memory = 16.GB; time = 3.h }
    withName: BUILD_PORTAL { cpus = 2; memory = 8.GB; time = 2.h }

    withName: STAR_INDEX { cpus = 32; memory = 160.GB; time = 12.h }
    withName: STAR_ALIGN_PE { cpus = 32; memory = 64.GB; time = 12.h }
    withName: STAR_ALIGN_SE { cpus = 32; memory = 64.GB; time = 12.h }
    withName: RNA_BIGWIG { cpus = 8; memory = 16.GB; time = 4.h }
    withName: FEATURECOUNTS { cpus = 16; memory = 32.GB; time = 4.h }
    withName: CLEAN_FEATURECOUNTS { cpus = 2; memory = 8.GB; time = 2.h }
    withName: DESEQ2 { cpus = 2; memory = 64.GB; time = 6.h }

    withName: REFERENCE_FAIDX { cpus = 2; memory = 4.GB; time = 1.h }
    withName: BWA_INDEX { cpus = 16; memory = 32.GB; time = 8.h }
    withName: BWA_INDEX_PREBUILT { cpus = 2; memory = 8.GB; time = 2.h }
    withName: BWA_ALIGN_MARKDUP_PE { cpus = 32; memory = 64.GB; time = 24.h }
    withName: BWA_ALIGN_MARKDUP_SE { cpus = 32; memory = 64.GB; time = 24.h }
    withName: MOSDEPTH { cpus = 8; memory = 16.GB; time = 8.h }
    withName: CALL_VARIANTS { cpus = 8; memory = 32.GB; time = 24.h }

    withName: ASSEMBLE_SPADES_PE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: ASSEMBLE_SPADES_SE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: ASSEMBLE_MEGAHIT_PE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: ASSEMBLE_MEGAHIT_SE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: ASSEMBLE_TRINITY_PE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: ASSEMBLE_TRINITY_SE { cpus = 32; memory = 240.GB; time = 48.h }
    withName: QUAST { cpus = 8; memory = 32.GB; time = 8.h }
    withName: BUSCO { cpus = 16; memory = 64.GB; time = 24.h }
}

executor {
    queueSize = 64
    pollInterval = '15 sec'
    queueStatInterval = '1 min'
    exitReadTimeout = '5 min'
}

conda {
    enabled = false
    cacheDir = "${projectDir}/.nextflow/conda"
    useMamba = false
}

profiles {
    hellbender {
        includeConfig 'conf/hellbender.config'
    }
    hellbender_single_node {
        includeConfig 'conf/hellbender_single_node.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
}

cleanup = false
